@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

:root {
  --bg: 255 255 255;
  --text: 17 24 39;
  --card: 243 244 246;
}

.dark {
  --bg: 15 23 42;
  --text: 241 245 249;
  --card: 30 41 59;
}

@theme {
  /* Combined into one theme block */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-primary: #b03646;
  --color-secondary: #8d2b38;
  --color-dark-primary: #0f172a;
  --color-dark-secondary: #1e293b;
  --color-dark-tertiary: #334155;
  --color-tertiary: #c05e6b;
  --color-light: #e7c3c8;
  --color-soft-white: #f7ebed;
  --color-border-light: #e5e7eb;
  --color-pink-bg: #fce4ec;
}

body {
  background-color: var(--color-pink-bg);
}

.dark body {
  background-color: #0f172a;
}
