@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: 255 255 255;
  --text: 17 24 39;
  --card: 243 244 246;
}

.dark {
  --bg: 17 24 39;
  --text: 243 244 246;
  --card: 31 41 55;
}

@theme {
  /* Combined into one theme block */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-primary: #b03646;
  --color-secondary: #8d2b38;
  --color-dark-primary: #120507;
  --color-dark-secondary: #230b0e;
  --color-dark-tertiary: #351015;
  --color-tertiary: #c05e6b;
  --color-light: #e7c3c8;
  --color-soft-white: #f7ebed;
  --color-border-light: #e5e7eb;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
